/*linear-gradient(90deg, rgb(46, 99, 140), rgb(40, 96, 139));*/
/*#2E638C*/

.flower--4 {
-webkit-animation: moving-flower-1 4s linear infinite;
animation: moving-flower-1 4s linear infinite;
}
.flower--4 .flower__line {
height: 70vmin;
-webkit-animation-delay: 0.3s;
animation-delay: 0.3s;
}
.flower--4 .flower__line__leaf--1 {
-webkit-animation: blooming-leaf-right var(--fl-speed) 1.6s backwards;
animation: blooming-leaf-right var(--fl-speed) 1.6s backwards;
}
.flower--4 .flower__line__leaf--2 {
-webkit-animation: blooming-leaf-right var(--fl-speed) 1.4s backwards;
animation: blooming-leaf-right var(--fl-speed) 1.4s backwards;
}
.flower--4 .flower__line__leaf--3 {
-webkit-animation: blooming-leaf-left var(--fl-speed) 1.2s backwards;
animation: blooming-leaf-left var(--fl-speed) 1.2s backwards;
}
.flower--4 .flower__line__leaf--4 {
-webkit-animation: blooming-leaf-left var(--fl-speed) 1s backwards;
animation: blooming-leaf-left var(--fl-speed) 1s backwards;
}
.flower--4 .flower__line__leaf--5 {
-webkit-animation: blooming-leaf-right var(--fl-speed) 1.8s backwards;
animation: blooming-leaf-right var(--fl-speed) 1.8s backwards;
}
.flower--4 .flower__line__leaf--6 {
-webkit-animation: blooming-leaf-left var(--fl-speed) 2s backwards;
animation: blooming-leaf-left var(--fl-speed) 2s backwards;
}

.flower--5 {
right: 15vw;
transform: rotate(-15deg);
-webkit-animation: moving-flower-3 4s linear infinite;
animation: moving-flower-3 4s linear infinite;
}
.flower--5 .flower__line {
-webkit-animation-delay: 0.9s;
animation-delay: 0.9s;
}
.flower--5 .flower__line__leaf--1 {
-webkit-animation: blooming-leaf-right var(--fl-speed) 2.5s backwards;
animation: blooming-leaf-right var(--fl-speed) 2.5s backwards;
}
.flower--5 .flower__line__leaf--2 {
-webkit-animation: blooming-leaf-right var(--fl-speed) 2.3s backwards;
animation: blooming-leaf-right var(--fl-speed) 2.3s backwards;
}
.flower--5 .flower__line__leaf--3 {
-webkit-animation: blooming-leaf-left var(--fl-speed) 2.1s backwards;
animation: blooming-leaf-left var(--fl-speed) 2.1s backwards;
}
.flower--5 .flower__line__leaf--4 {
-webkit-animation: blooming-leaf-left var(--fl-speed) 1.9s backwards;
animation: blooming-leaf-left var(--fl-speed) 1.9s backwards;
}

.flower--6 {
right: -15vw;
transform: rotate(20deg);
-webkit-animation: moving-flower-2 4s linear infinite;
animation: moving-flower-2 4s linear infinite;
}
.flower--6 .flower__line {
height: 60vmin;
-webkit-animation-delay: 0.6s;
animation-delay: 0.6s;
}
.flower--6 .flower__line__leaf--1 {
-webkit-animation: blooming-leaf-right var(--fl-speed) 1.9s backwards;
animation: blooming-leaf-right var(--fl-speed) 1.9s backwards;
}
.flower--6 .flower__line__leaf--2 {
-webkit-animation: blooming-leaf-right var(--fl-speed) 1.7s backwards;
animation: blooming-leaf-right var(--fl-speed) 1.7s backwards;
}
.flower--6 .flower__line__leaf--3 {
-webkit-animation: blooming-leaf-left var(--fl-speed) 1.5s backwards;
animation: blooming-leaf-left var(--fl-speed) 1.5s backwards;
}
.flower--6 .flower__line__leaf--4 {
-webkit-animation: blooming-leaf-left var(--fl-speed) 1.3s backwards;
animation: blooming-leaf-left var(--fl-speed) 1.3s backwards;
}

.flower__leafs--4 {
-webkit-animation-delay: 1.7s;
animation-delay: 1.7s;
}

.flower__leafs--5 {
-webkit-animation-delay: 1.7s;
animation-delay: 1.7s;
}

.flower__leafs--6 {
-webkit-animation-delay: 1.4s;
animation-delay: 1.4s;
}

.flower__leafs__blue {
position: relative;
-webkit-animation: blooming-flower 2s backwards;
animation: blooming-flower 2s backwards;
}

.flower__leafs__blue::after {
content: "";
position: absolute;
left: 0;
top: 0;
transform: translate(-50%, -100%);
width: 8vmin;
height: 8vmin;
background-color: #f9fd25;

/* background-color: #fd2525; */
filter: blur(10vmin);
}
.flower__leaf__blue {
position: absolute;
bottom: 0;
left: 50%;
width: 8vmin;
height: 11vmin;
border-radius: 51% 49% 47% 53%/44% 45% 55% 69%;
background-color: #253bfd;
background-color: #2E638C;
transform-origin: bottom center;
opacity: 0.9;
box-shadow: inset 0 0 2vmin rgba(255, 255, 255, 0.5);
}

.flower__leaf__blue--4 {
width: 8vmin;
height: 8vmin;
transform-origin: bottom left;
border-radius: 4vmin 10vmin 4vmin 4vmin;
transform: translate(0%, 18%) rotateX(70deg) rotate(-43deg);
background-color: #1e405a;
z-index: 1;
opacity: 0.8;
}

.flower__blue__white-circle {
position: absolute;
left: -3.5vmin;
top: -3vmin;
width: 9vmin;
height: 4vmin;
border-radius: 50%;
background-color: #fff;
}
.flower__blue__white-circle::after {
content: "";
position: absolute;
left: 50%;
top: 45%;
transform: translate(-50%, -50%);
width: 60%;
height: 60%;
border-radius: inherit;
background-image: repeating-linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.03) 0px,
    rgba(0, 0, 0, 0.03) 1px,
    transparent 1px,
    transparent 12px
    ),
    repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.03) 0px,
    rgba(0, 0, 0, 0.03) 1px,
    transparent 1px,
    transparent 12px
    ),
    repeating-linear-gradient(
    67.5deg,
    rgba(0, 0, 0, 0.03) 0px,
    rgba(0, 0, 0, 0.03) 1px,
    transparent 1px,
    transparent 12px
    ),
    repeating-linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.03) 0px,
    rgba(0, 0, 0, 0.03) 1px,
    transparent 1px,
    transparent 12px
    ),
    repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.03) 0px,
    rgba(0, 0, 0, 0.03) 1px,
    transparent 1px,
    transparent 12px
    ),
    repeating-linear-gradient(
    112.5deg,
    rgba(0, 0, 0, 0.03) 0px,
    rgba(0, 0, 0, 0.03) 1px,
    transparent 1px,
    transparent 12px
    ),
    repeating-linear-gradient(
    112.5deg,
    rgba(0, 0, 0, 0.03) 0px,
    rgba(0, 0, 0, 0.03) 1px,
    transparent 1px,
    transparent 12px
    ),
    repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.03) 0px,
    rgba(0, 0, 0, 0.03) 1px,
    transparent 1px,
    transparent 12px
    ),
    repeating-linear-gradient(
    22.5deg,
    rgba(0, 0, 0, 0.03) 0px,
    rgba(0, 0, 0, 0.03) 1px,
    transparent 1px,
    transparent 12px
    ),
    repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.03) 0px,
    rgba(0, 0, 0, 0.03) 1px,
    transparent 1px,
    transparent 12px
    ),
    repeating-linear-gradient(
    22.5deg,
    rgba(0, 0, 0, 0.03) 0px,
    rgba(0, 0, 0, 0.03) 1px,
    transparent 1px,
    transparent 12px
    ),
    repeating-linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.03) 0px,
    rgba(0, 0, 0, 0.03) 1px,
    transparent 1px,
    transparent 12px
    ),
    repeating-linear-gradient(
    157.5deg,
    rgba(0, 0, 0, 0.03) 0px,
    rgba(0, 0, 0, 0.03) 1px,
    transparent 1px,
    transparent 12px
    ),
    repeating-linear-gradient(
    67.5deg,
    rgba(0, 0, 0, 0.03) 0px,
    rgba(0, 0, 0, 0.03) 1px,
    transparent 1px,
    transparent 12px
    ),
    repeating-linear-gradient(
    67.5deg,
    rgba(0, 0, 0, 0.03) 0px,
    rgba(0, 0, 0, 0.03) 1px,
    transparent 1px,
    transparent 12px
    ),
    linear-gradient(90deg, rgb(46, 99, 140), rgb(40, 96, 139));
}

.flower__light__blue {
position: absolute;
bottom: 0vmin;
width: 1vmin;
height: 1vmin;
background-color: #23f0ff;
border-radius: 50%;
filter: blur(0.2vmin);
-webkit-animation: light-ans 4s linear infinite backwards;
animation: light-ans 4s linear infinite backwards;
}
.flower__light__blue:nth-child(odd) {
background-color: #23f0ff;
}

.flower__light__blue--1 {
left: -2vmin;
-webkit-animation-delay: 1s;
animation-delay: 1s;
}
.flower__light__blue--2 {
left: 3vmin;
-webkit-animation-delay: 0.5s;
animation-delay: 0.5s;
}
.flower__light__blue--3 {
left: -6vmin;
-webkit-animation-delay: 0.3s;
animation-delay: 0.3s;
}
.flower__light__blue--4 {
left: 6vmin;
-webkit-animation-delay: 0.9s;
animation-delay: 0.9s;
}
.flower__light__blue--5 {
left: -1vmin;
-webkit-animation-delay: 1.5s;
animation-delay: 1.5s;
}
.flower__light__blue--6 {
left: -4vmin;
-webkit-animation-delay: 3s;
animation-delay: 3s;
}
.flower__light__blue--7 {
left: 3vmin;
-webkit-animation-delay: 2s;
animation-delay: 2s;
}
.flower__light__blue--8 {
left: -6vmin;
-webkit-animation-delay: 3.5s;
animation-delay: 3.5s;
}